<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Quiet down noisy Apache libraries -->
    <logger name="org.apache.pdfbox"   level="WARN"/>
    <logger name="org.apache.poi"      level="WARN"/>
    <logger name="org.apache.fontbox"  level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
